html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
  background: #23153c;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 50px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2622ac;
  /* color of the scroll thumb */
  border-radius: 5px;
  /* roundness of the scroll thumb */
  /* border: 2px solid color;  creates padding around scroll thumb */
}

footer {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: whitesmoke;
  padding: 10px;
  height: 70px;
}

.section {
  margin: 0;
  padding: 0;
  scroll-margin-top: 60px;
}

.section.comparison {
  display: flex;
  flex-direction: column;
}

.section.magicINFO {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(94, 121, 146);
}

.section.contacts {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 95vh;
  justify-content: center;
  align-items: center;
}

.section.FAQ {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 75vw;
  min-height: 80vh;
}

.content-contacts {
  display: flex;
  flex-direction: row;
  width: 75vw;
  justify-content: space-between;
  align-items: flex-start;
}



.map-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  align-content: space-between;
  color: white;
}

.map-details>p {
  width: 90%;
  align-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-inline: 0px;
}


.form-container {
  display: flex;
  color: white;
  background-color: #68678c;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

iframe {
  width: 90%;
  height: 350px;
  margin-top: 15px;
  margin-right: 2%;
  border-radius: 10px;

}

/* form styling */

form {
  align-items: center;
}

.form-group {
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  position: relative;
  bottom: 3px;
}

.wrapper {
  text-align: center;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

textarea {
  box-sizing: border-box;
  resize: none;
  border-radius: 5px;
  margin: 0;
  padding: 0.5rem;
}

textarea:valid {
  border: 1px solid green;
}

textarea:invalid {
  border: 1px solid red;
}

.wrapper>button {
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 5px;
  height: 50px;
  width: 70%;
  font-family: Cairo, sans-serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.orderBtn {
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  background: #2622ac;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 70%;
  font-family: Cairo, sans-serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.orderBtn:hover {
  background: white;
  border-color: blue;
  color: black;
  border: black solid 2px;
}

.wrapper {
  text-align: center;
}

.logo {
  user-select: none;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline: 5px;
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  margin: 8px 0;
  transition: 0.3s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.content-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  min-height: 100vh;
  height: auto;
  margin-inline: auto;
  color: white;
}

.content-comparison {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  min-height: 75vh;
  background: whitesmoke;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#content-comparison>h1 {
  margin-inline: auto;
  text-align: center;
}

.comparison-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 68px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-inline: 15px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  margin: 15px;
}

.magicINFO-logo {
  width: 250px;
  aspect-ratio: 16/9;
  margin: 10px;
}

.comparison {
  display: flex;
  min-width: 50vw;
  margin: 50px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

.content-pricing {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 75vh;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.section.magicINFO>h1 {
  color: white;
}

.content-pricing>div {
  width: 45vw;
}

.cloud-package,
.server-package {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  margin: 15px;
  min-height: 90%;
}


.liteCloud,
.premiumCloud,
.serverLite,
.serverPremium {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.liteCloud>ul,
.premiumCloud>ul,
.serverLite>ul,
.serverPremium>ul {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 15px;
  text-align: left;
  line-height: 180%;
  color: black;
}


.content-pricing>div>.cloud-package>div>img,
.content-pricing>div>.server-package>div>img {
  display: inline;
  width: 300px;
  height: 300px;
}

.content-FAQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  min-height: 85vh;
  height: auto;
  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.faq-question {
  cursor: pointer;
}

.faq-answer {
  display: none;
}

.show {
  display: block;
}

.faq-section {
  background-color: #f5f5f5;
  padding: 80px 0;
}

.faq-container {
  margin-top: 40px;
}

.faq-question {
  color: #313131;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.faq-answer {
  color: #313131;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  display: none;
}

.faq-answer.show {
  display: block;
}

.faq-item:last-child .faq-question {
  margin-bottom: 0;
}

.faq-question:hover {
  color: #00b8e3;
}

/* CSS */
.button-38 {
  background-color: #2622ac;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #e8eaef;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15rem;
  margin: 2rem;
  align-self: center;
}

.button-38:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  outline: 2px solid white;
}

.button-38:focus {

  outline: 2px solid #2622ac;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}


.text-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
  height: 50%;
}

.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  margin-inline: auto;
}

.nav-container.scrolled {
  background: #2622ac;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #373B44, #2622ac);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #373B44, #2622ac);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: background 200ms;

}

.nav-items {
  display: flex;
  width: 75vw;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

}

a:active {
  text-decoration: underline;
}

.social {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  bottom: 80px;
  right: 20px;
  width: 40px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;

}

.social>a>img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

tr:nth-child(even) {
  background-color: #bababa;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  text-align: center;
}

td:nth-child(2),
td:nth-child(3) {
  text-align: center;
}

#backtotop {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  box-shadow: 5px 5px 10px black;
  border-radius: 50% 50% 50% 50%;
}

#backtotop:hover {
  cursor: pointer;
}


/* h1 animations */
.show-heading {
  animation: fadeIn 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* text--intro animation */
.fly-in-bottom {
  animation: entryBottom 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes entryBottom {
  from {

    transform: translateY(100px);
  }

  to {

    transform: translateY(0);
  }
}

@keyframes navExpand {
  from {
    height: 60px;
  }

  to {

    height: 80vh;
  }
}

@keyframes entryFromTop {
  from {

    transform: translateY(-100px);
  }

  to {

    transform: translateY(0);
  }
}

@media only screen and (max-width: 740px) {
  .navLinks {
    display: none;
  }

  .navLinksShow {
    display: inline;
    animation: entryFromTop 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    margin: 15px;
  }

  .container {
    width: 90%;
  }

  .menu-bars {
    display: inline;
  }

  .content-intro {
    width: 95vw;
  }

  .comparison {
    margin: 10px;
  }

  .content-comparison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .comparison-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section.magicINFO {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-pricing {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
    margin: 30px;
    width: 95vw;
    min-height: 75vh;
  }

  .content-pricing>div {
    display: flex;
    flex-direction: column;
    width: 95vw;
  }

  .liteCloud,
  .premiumCloud,
  .serverLite,
  .serverPremium {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content-pricing>.cloud-package>div>img,
  .content-pricing>.server-package>div>img {
    display: inline;
    width: 150px;
    height: 150px;
  }

  .section.contacts {
    flex-direction: column-reverse;
    min-width: 95vw;
    min-height: 95vh;
    justify-content: space-around;
    align-items: center;
  }

  .content-contacts {
    display: flex;
    flex-direction: column-reverse;
    width: 95vw;
  }

  .content-FAQ {
    width: 95vw;
  }

  iframe {
    min-width: 95vw;

  }

  .map-details>p {
    width: 95vw;
  }

  textarea {
    width: 100%;
  }

  .logo {
    user-select: none;
    width: 150px;
    height: 40px;
    top: 0px;
    margin-bottom: 10px;
    margin-inline: 5px;
  }

  .nav-expand {
    animation: navExpand 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }


  .nav-items {
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-around;
    width: 75vw;
    margin-inline: auto;
    align-items: center;
  }


  .text-container {
    justify-content: center;
  }


  .menu-bars {
    display: inline;
  }

  .content-intro {
    width: 95vw;
    justify-content: flex-end;
  }

  .nav-container {
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
    background: #2622ac;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #2622ac);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #2622ac);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .content-comparison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .comparison-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .text-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.422);
    border-radius: 10px;

  }

  .intro.title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 56px;
    /* or 105% */
  }

  .button-38 {
    margin: 1rem;
  }

  .text {
    font-size: 15px;
    line-height: 22px;
    /* or 160% */
  }
}