html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
  background: #23153c;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 50px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2622ac;
  /* color of the scroll thumb */
  border-radius: 5px;
  /* roundness of the scroll thumb */
  /* border: 2px solid color;  creates padding around scroll thumb */
}

ul {
  margin: 10px;
  padding: 10px;
}

footer {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: whitesmoke;
  padding: 10px;
  height: 70px;
}

.section {
  margin: 0;
  padding: 0;
  scroll-margin-top: 60px;
}

.section.comparison {
  display: flex;
  flex-direction: column;
}

.section.magicINFO {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(94, 121, 146);
}

.section.contacts {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 95vh;
  justify-content: center;
  align-items: center;
}

.section.FAQ {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 75vw;
  min-height: 80vh;
}

.section.experience {
  display: flex;
  flex-direction: row;
  text-align: center;
  min-width: 75vw;
  min-height: 80vh;
}

.content-contacts {
  display: flex;
  flex-direction: row;
  width: 75vw;
  justify-content: space-between;
}



.map-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
  align-content: space-between;
  color: white;
}

.map-details>p {
  width: 90%;
  align-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-inline: 0px;
}


.form-container {
  display: flex;
  color: white;
  background-color: rgb(94, 121, 146);
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

iframe {
  width: 90%;
  height: 350px;
  margin-top: 15px;
  margin-right: 2%;
  border-radius: 10px;

}

/* form styling */

form {
  align-items: center;
}

.form-group {
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  position: relative;
  bottom: 3px;
}

.wrapper {
  text-align: center;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

textarea {
  box-sizing: border-box;
  resize: none;
  border-radius: 5px;
  margin: 0;
  padding: 0.5rem;
}

textarea:valid {
  border: 1px solid green;
}

textarea:invalid {
  border: 1px solid red;
}

.wrapper>button {
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 5px;
  height: 50px;
  width: 70%;
  font-family: Cairo, sans-serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.orderBtn {
  cursor: pointer;
  background-color: rgb(94, 121, 146);
  text-transform: uppercase;
  color: #ffffff;
  border: #ffffff solid 2px;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  font-family: Cairo, sans-serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.orderBtn:hover {
  background: white;
  color: rgb(94, 121, 146);
}

.wrapper {
  text-align: center;
}

.logo {
  user-select: none;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline: 5px;
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  margin: 8px 0;
  transition: 0.3s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.content-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  min-height: 100vh;
  height: auto;
  margin-inline: auto;
  color: white;
}

.content-comparison {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  min-height: 75vh;
  background: whitesmoke;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#content-comparison>h1 {
  margin-inline: auto;
  text-align: center;
}

.comparison-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 68px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-inline: 15px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  margin: 15px;
}

.magicINFO-logo {
  width: 250px;
  aspect-ratio: 16/9;
  margin: 10px;
}

.comparison {
  display: flex;
  min-width: 50vw;
  margin: 50px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

.content-pricing {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 75vh;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.section.magicINFO>h1 {
  color: white;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: white solid 2px;
  width: 250px;
  height: 700px;
  margin: 10px;
}

.productCard>img {
  width: 250px;
  height: 250px;
}

.content-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 95vw;
  min-height: 85vh;
  height: auto;
  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-image:
    radial-gradient(rgb(255, 255, 255),
      rgba(0, 0, 0, 0))3 0 3 0;
  color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='1080' viewBox='0 0 507.99998 285.75' version='1.1' id='svg5' inkscape:version='1.2.2 (732a01da63  2022-12-09)' sodipodi:docname='background_exp.svg' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Csodipodi:namedview id='namedview7' pagecolor='%23ffffff' bordercolor='%23000000' borderopacity='0.25' inkscape:showpageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' inkscape:document-units='mm' showgrid='false' inkscape:zoom='0.5' inkscape:cx='1068' inkscape:cy='507' inkscape:window-width='1920' inkscape:window-height='1001' inkscape:window-x='-9' inkscape:window-y='-9' inkscape:window-maximized='1' inkscape:current-layer='layer1' /%3E%3Cdefs id='defs2'%3E%3Cinkscape:path-effect effect='interpolate' id='path-effect6087' is_visible='true' lpeversion='1' trajectory='M 557.61755 174.62196 C 287.04256 168.72271 24.304674 214.46889 2.1463238 137.05441' equidistant_spacing='true' steps='32' trajectory-nodetypes='cc' /%3E%3Cinkscape:path-effect effect='skeletal' id='path-effect1837' is_visible='true' lpeversion='1' pattern='M 0 4.9921382 C 0 2.2364779 2.2364779 0 4.9921382 0 c 2.7556602 0 4.9921381 2.2364779 4.9921381 4.9921382 0 2.7556602 -2.2364779 4.9921381 -4.9921381 4.9921381 C 2.2364779 9.9842763 0 7.7477984 0 4.9921382 Z' copytype='single_stretched' prop_scale='-0.35143539' scale_y_rel='false' spacing='0' normal_offset='0' tang_offset='0' prop_units='false' vertical_pattern='false' hide_knot='false' fuse_tolerance='0' /%3E%3Cinkscape:path-effect effect='interpolate' id='path-effect1779' is_visible='true' lpeversion='1' trajectory='M -109.96253 54.720507 C -23.185684 196.74151 192.06887 334.08354 397.16721 342.76907' equidistant_spacing='true' steps='30' trajectory-nodetypes='cc' /%3E%3Cinkscape:path-effect effect='skeletal' id='path-effect1776' is_visible='true' lpeversion='1' pattern='M 0 4.9921382 C 0 2.2364779 2.2364779 0 4.9921382 0 c 2.7556602 0 4.9921381 2.2364779 4.9921381 4.9921382 0 2.7556602 -2.2364779 4.9921381 -4.9921381 4.9921381 C 2.2364779 9.9842763 0 7.7477984 0 4.9921382 Z' copytype='single_stretched' prop_scale='0.093085137' scale_y_rel='false' spacing='0' normal_offset='0' tang_offset='0' prop_units='false' vertical_pattern='false' hide_knot='false' fuse_tolerance='0' /%3E%3Cinkscape:path-effect effect='skeletal' id='path-effect1674' is_visible='true' lpeversion='1' pattern='M 0 4.9921382 C 0 2.2364779 2.2364779 0 4.9921382 0 c 2.7556602 0 4.9921381 2.2364779 4.9921381 4.9921382 0 2.7556602 -2.2364779 4.9921381 -4.9921381 4.9921381 C 2.2364779 9.9842763 0 7.7477984 0 4.9921382 Z' copytype='single_stretched' prop_scale='0.093085137' scale_y_rel='false' spacing='0' normal_offset='0' tang_offset='0' prop_units='false' vertical_pattern='false' hide_knot='false' fuse_tolerance='0' /%3E%3Cinkscape:path-effect effect='skeletal' id='path-effect1670' is_visible='true' lpeversion='1' pattern='M 0 4.9921382 C 0 2.2364779 2.2364779 0 4.9921382 0 c 2.7556602 0 4.9921381 2.2364779 4.9921381 4.9921382 0 2.7556602 -2.2364779 4.9921381 -4.9921381 4.9921381 C 2.2364779 9.9842763 0 7.7477984 0 4.9921382 Z' copytype='single_stretched' prop_scale='0.5' scale_y_rel='false' spacing='0' normal_offset='0' tang_offset='0' prop_units='false' vertical_pattern='false' hide_knot='false' fuse_tolerance='0' /%3E%3Cinkscape:path-effect effect='skeletal' id='path-effect1666' is_visible='true' lpeversion='1' pattern='M 0 4.9921382 C 0 2.2364779 2.2364779 0 4.9921382 0 c 2.7556602 0 4.9921381 2.2364779 4.9921381 4.9921382 0 2.7556602 -2.2364779 4.9921381 -4.9921381 4.9921381 C 2.2364779 9.9842763 0 7.7477984 0 4.9921382 Z' copytype='single_stretched' prop_scale='1' scale_y_rel='false' spacing='0' normal_offset='0' tang_offset='0' prop_units='false' vertical_pattern='false' hide_knot='false' fuse_tolerance='0' /%3E%3Cinkscape:path-effect effect='skeletal' id='path-effect1662' is_visible='true' lpeversion='1' pattern='M 0 4.9921382 C 0 2.2364779 2.2364779 0 4.9921382 0 c 2.7556602 0 4.9921381 2.2364779 4.9921381 4.9921382 0 2.7556602 -2.2364779 4.9921381 -4.9921381 4.9921381 C 2.2364779 9.9842763 0 7.7477984 0 4.9921382 Z' copytype='single_stretched' prop_scale='1' scale_y_rel='false' spacing='0' normal_offset='0' tang_offset='0' prop_units='false' vertical_pattern='false' hide_knot='false' fuse_tolerance='0' /%3E%3Cinkscape:path-effect effect='skeletal' id='path-effect1550' is_visible='true' lpeversion='1' pattern='M 0 4.9921382 C 0 2.2364779 2.2364779 0 4.9921382 0 c 2.7556602 0 4.9921381 2.2364779 4.9921381 4.9921382 0 2.7556602 -2.2364779 4.9921381 -4.9921381 4.9921381 C 2.2364779 9.9842763 0 7.7477984 0 4.9921382 Z' copytype='single_stretched' prop_scale='1' scale_y_rel='false' spacing='0' normal_offset='0' tang_offset='0' prop_units='false' vertical_pattern='false' hide_knot='false' fuse_tolerance='0' /%3E%3Cinkscape:path-effect effect='skeletal' id='path-effect1546' is_visible='true' lpeversion='1' pattern='M 0 4.9921382 C 0 2.2364779 2.2364779 0 4.9921382 0 c 2.7556602 0 4.9921381 2.2364779 4.9921381 4.9921382 0 2.7556602 -2.2364779 4.9921381 -4.9921381 4.9921381 C 2.2364779 9.9842763 0 7.7477984 0 4.9921382 Z' copytype='single_stretched' prop_scale='1' scale_y_rel='false' spacing='0' normal_offset='0' tang_offset='0' prop_units='false' vertical_pattern='false' hide_knot='false' fuse_tolerance='0' /%3E%3Cinkscape:path-effect effect='skeletal' id='path-effect238' is_visible='true' lpeversion='1' pattern='M 0 4.9921382 C 0 2.2364779 2.2364779 0 4.9921382 0 c 2.7556602 0 4.9921381 2.2364779 4.9921381 4.9921382 0 2.7556602 -2.2364779 4.9921381 -4.9921381 4.9921381 C 2.2364779 9.9842763 0 7.7477984 0 4.9921382 Z' copytype='single_stretched' prop_scale='1' scale_y_rel='false' spacing='0' normal_offset='0' tang_offset='0' prop_units='false' vertical_pattern='false' hide_knot='false' fuse_tolerance='0' /%3E%3C/defs%3E%3Cg inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1'%3E%3Cpath id='path6084' style='opacity:0.6%3Bfill:none%3Bfill-opacity:1%3Bstroke:%230822ff%3Bstroke-width:0.428%3Bstroke-dasharray:none%3Bstroke-opacity:0.712018' d='M -5.7157324 6.8788507 C 86.630007 135.99496 130.87643 120.01588 213.17173 146.57949 c 73.46581 23.71359 64.97228 81.15429 132.59465 107.41697 49.15145 19.08908 208.39076 -95.77082 208.39076 -95.77082 M -5.1521658 11.678904 C 86.39918 139.07105 131.00426 123.09417 211.13967 148.54611 c 72.32074 22.318 68.63347 77.24669 134.88364 102.63759 52.37236 18.32725 208.39642 -88.77248 208.39642 -88.77248 M -4.5653376 16.475568 C 86.191615 142.14375 131.15534 126.16906 209.13088 150.50935 c 71.17566 20.92241 72.29465 73.33907 137.17263 97.85821 55.59326 17.56541 208.40206 -81.77416 208.40206 -81.77416 M -3.9570675 21.268939 C 86.005492 145.21316 131.32787 129.24067 207.14352 152.46929 c 70.03059 19.52682 75.95585 69.43147 139.46163 93.07883 58.81417 16.80358 208.40771 -74.77582 208.40771 -74.77582 M -3.3291269 26.059145 C 85.839039 148.2794 131.52008 132.3091 205.17584 154.42607 c 68.8855 18.13123 79.61703 65.52386 141.75062 88.29945 62.03507 16.04175 208.41336 -67.77749 208.41336 -67.77749 M -2.6832554 30.846344 C 85.690517 151.34263 131.73021 135.37453 203.22609 156.37984 c 67.74042 16.73564 83.27822 61.61625 144.03961 83.52007 65.25598 15.27991 208.41901 -60.77916 208.41901 -60.77916 M -2.021178 35.630728 C 85.558201 154.40305 131.95655 138.43715 201.29254 158.33079 c 66.59535 15.34005 86.93941 57.70865 146.32861 78.74069 68.47688 14.51809 208.42466 -53.78082 208.42466 -53.78082 M -1.3446222 40.412516 C 85.440363 157.46088 132.19736 141.49717 199.37347 160.27915 c 65.45028 13.94446 90.6006 53.80104 148.61761 73.96131 71.69778 13.75625 208.4303 -46.78248 208.4303 -46.78248 M -0.65533478 45.191963 C 85.335257 160.51636 132.45091 144.55485 197.46713 162.22516 c 64.3052 12.54888 94.26179 49.89344 150.90661 69.18194 74.91868 12.99442 208.43595 -39.78415 208.43595 -39.78415 M 0.0449012 49.96935 C 85.2411 163.56978 132.71541 147.61046 195.57174 164.16912 c 63.16013 11.15328 97.92299 45.98583 153.1956 64.40256 78.13959 12.23258 208.4416 -32.78582 208.4416 -32.78582 M 0.75424937 54.744991 C 85.156054 166.62146 132.98902 150.66434 193.68547 166.11133 c 62.01504 9.7577 101.58417 42.07822 155.48459 59.62318 81.36049 11.47075 208.44725 -25.78749 208.44725 -25.78749 M 1.470803 59.519231 C 85.078215 169.67174 133.26983 153.71681 191.8064 168.05214 c 60.86997 8.36211 105.24536 38.17062 157.77359 54.8438 84.58139 10.70892 208.45289 -18.78915 208.45289 -18.78915 M 2.1925554 64.292447 C 85.005573 172.72099 133.55584 156.76826 189.93253 169.99193 c 59.72489 6.96651 108.90654 34.26301 160.06258 50.06442 87.8023 9.94709 208.45854 -11.79082 208.45854 -11.79082 M 2.9173572 69.065059 C 84.935982 175.76964 133.84491 159.8191 188.0617 171.93111 c 58.57982 5.57093 112.56774 30.3554 162.35158 45.28504 91.0232 9.18525 208.46419 -4.79248 208.46419 -4.79248 M 3.6428783 73.837527 C 84.86711 178.81814 134.13469 162.8698 186.1916 173.87015 c 57.43474 4.17533 116.22893 26.44779 164.64057 40.50566 94.24411 8.42342 208.46984 2.20585 208.46984 2.20585 M 4.3665453 78.610365 C 84.796383 181.86702 134.42261 165.92087 184.31964 175.80956 c 56.28966 2.77974 119.89012 22.54018 166.92957 35.72628 97.46501 7.66159 208.47549 9.20418 208.47549 9.20418 M 5.0854748 83.384139 C 84.720919 184.91683 134.7058 168.97287 182.44295 177.7499 c 55.14458 1.38416 123.5513 18.63258 169.21856 30.94691 100.68591 6.89975 208.48114 16.20251 208.48114 16.20251 M 5.7963848 88.159476 C 84.637436 187.9682 134.98098 172.02644 180.55823 179.69181 c 53.99951 -0.0114 127.2125 14.72497 171.50756 26.16753 103.90682 6.13792 208.48678 23.20084 208.48678 23.20084 M 6.4954911 92.937077 C 84.542148 191.02184 135.24434 175.08227 178.66172 181.63598 c 52.85443 -1.40702 130.87368 10.81737 173.79655 21.38815 107.12772 5.37609 208.49243 30.19918 208.49243 30.19918 M 7.1783274 97.71772 c 77.2522636 96.3608 128.3131126 80.42343 169.5706026 85.86548 51.70935 -2.80262 134.53487 6.90975 176.08554 16.60876 110.34863 4.61426 208.49808 37.19751 208.49808 37.19751 M 7.8394714 102.50227 C 84.297342 197.1391 135.71684 181.20392 174.81445 185.53431 c 50.56427 -4.1982 138.19606 3.00215 178.37454 11.82939 113.56952 3.85242 208.50373 44.19584 208.50373 44.19584 M 8.4722289 107.29165 c 75.6634771 92.91287 127.4416311 76.97989 164.3793511 80.19862 49.4192 -5.59379 141.85725 -0.90546 180.66354 7.05001 116.79043 3.09059 208.50937 51.19418 208.50937 51.19418 M 9.0681625 112.0869 c 74.8690835 91.18891 127.0058975 75.25812 161.7837275 77.36519 48.27412 -6.98939 145.51844 -4.81307 182.95253 2.27063 120.01133 2.32875 208.51502 58.19251 208.51502 58.19251 M 9.6163722 116.88907 c 74.0746898 89.46494 126.5701578 73.53635 159.1881078 74.53175 47.12904 -8.38497 149.17962 -8.72067 185.24152 -2.50875 123.23224 1.56693 208.52067 65.19085 208.52067 65.19085 M 10.101956 121.69906 c 73.280297 87.74098 126.134414 71.81458 156.592474 71.69833 45.98397 -9.78057 152.84082 -12.62828 187.53052 -7.28813 126.45314 0.80509 208.52633 72.18918 208.52633 72.18918 M 10.50407 126.51734 c 72.485903 86.01702 125.69868 70.09282 153.99685 68.8649 44.8389 -11.17615 156.50201 -16.53588 189.81952 -12.06751 129.67404 0.0433 208.53197 79.18752 208.53197 79.18752 M 10.792058 131.34307 c 71.69151 84.29305 125.262932 68.37105 151.401232 66.03147 43.69381 -12.57174 160.16319 -20.44349 192.10851 -16.84689 132.89494 -0.71857 208.53761 86.18585 208.53761 86.18585 M 10.917834 136.17163 c 70.897116 82.56909 124.827196 66.64928 148.805606 63.19804 42.54874 -13.96733 163.82438 -24.3511 194.3975 -21.62627 136.11585 -1.48041 208.54327 93.18418 208.54327 93.18418 M 10.80029 140.98729 c 70.102723 80.84512 124.39146 64.92751 146.20998 60.36461 41.40366 -15.36292 167.48557 -28.25871 196.6865 -26.40564 139.33675 -2.24225 208.54891 100.18251 208.54891 100.18251 M 10.291743 145.73791 c 69.308329 79.12116 123.955717 63.20574 143.614357 57.53118 40.25858 -16.75851 171.14676 -32.16632 198.97549 -31.18503 142.55766 -3.00407 208.55456 107.18085 208.55456 107.18085 M 9.1240816 150.24132 c 68.5139364 77.39719 123.5199784 61.48397 141.0187284 54.69775 39.11351 -18.1541 174.80795 -36.07392 201.26449 -35.9644 145.77856 -3.76591 208.56021 114.17917 208.56021 114.17917 M 7.0276814 153.98107 C 74.747224 229.6543 130.11192 213.74327 145.45079 205.84539 183.41922 186.2957 323.91993 165.86386 349.00427 165.10161 498.00374 160.57387 557.57013 286.27912 557.57013 286.27912' inkscape:path-effect='%23path-effect6087' inkscape:original-d='M -5.7157324 6.8788507 C 86.630007 135.99496 130.87643 120.01588 213.17173 146.57949 c 73.46581 23.71359 64.97228 81.15429 132.59465 107.41697 49.15145 19.08908 208.39076 -95.77082 208.39076 -95.77082 M 7.0276814 153.98107 C 74.747224 229.6543 130.11192 213.74327 145.45079 205.84539 183.41922 186.2957 323.91993 165.86386 349.00427 165.10161 498.00374 160.57387 557.57013 286.27912 557.57013 286.27912' class='UnoptimicedTransforms' sodipodi:nodetypes='cssccssc' transform='matrix(0.88075328 0 0 1.0000562 9.4921471 -0.0080514)' /%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}

.experience-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 50px;
  border-radius: 50%;
  border-style: solid;
  border-color: whitesmoke;
}

.content-FAQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  min-height: 85vh;
  height: auto;
  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to top, rgb(94, 121, 146) 0%, #23153c 100%);
}

.content-FAQ>h1 {
  color: whitesmoke;
}

.faq-item {
  width: 80%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 25px;
}

.faq-question {
  cursor: pointer;

}

.faq-answer {
  display: none;
}

.show {
  display: block;
}

.faq-section {
  background-color: #f5f5f5;
  padding: 80px 0;
}

.faq-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 70%;
}

.faq-question {
  color: #313131;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.faq-answer {
  color: #313131;
  font-size: 18px;
  line-height: 1.5;
  margin: 15px;
  display: none;
}

.faq-answer.show {
  display: block;
}

.faq-item .faq-question {
  margin-bottom: 0;
}

.faq-question:hover {
  color: #2622ac;
}

/* CSS */
.button-38 {
  background-color: #2622ac;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #e8eaef;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15rem;
  margin: 2rem;
  align-self: center;
}

.button-38:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  outline: 2px solid white;
}

.button-38:focus {

  outline: 2px solid #2622ac;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}


.text-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
  height: 50%;
}

.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  margin-inline: auto;
}

.nav-container.scrolled {
  background: #2622ac;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #373B44, #2622ac);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #373B44, #2622ac);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: background 200ms;

}

.nav-items {
  display: flex;
  width: 75vw;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

}

a:active {
  text-decoration: underline;
}

.social {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  bottom: 80px;
  right: 20px;
  width: 40px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;

}

.social>a>img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

tr:nth-child(even) {
  background-color: #bababa;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  text-align: center;
}

td:nth-child(2),
td:nth-child(3) {
  text-align: center;
}

#backtotop {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  box-shadow: 5px 5px 10px black;
  border-radius: 50% 50% 50% 50%;
}

#backtotop:hover {
  cursor: pointer;
}


/* h1 animations */
.show-heading {
  animation: fadeIn 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* text--intro animation */
.fly-in-bottom {
  animation: entryBottom 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes entryBottom {
  from {

    transform: translateY(100px);
  }

  to {

    transform: translateY(0);
  }
}

@keyframes navExpand {
  from {
    height: 60px;
  }

  to {

    height: 80vh;
  }
}

@keyframes entryFromTop {
  from {

    transform: translateY(-100px);
  }

  to {

    transform: translateY(0);
  }
}

@media only screen and (max-width: 740px) {
  .navLinks {
    display: none;
  }

  .navLinksShow {
    display: inline;
    animation: entryFromTop 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    margin: 15px;
  }

  .container {
    width: 90%;
  }

  .menu-bars {
    display: inline;
  }

  .content-intro {
    width: 95vw;
  }

  .comparison {
    margin: 10px;
  }

  .content-comparison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .comparison-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section.magicINFO {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .experience-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content-pricing {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
    margin: 30px;
    width: 95vw;
    min-height: 75vh;
  }

  .section.contacts {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    min-width: 95vw;
    min-height: 95vh;
    justify-content: space-around;
    align-items: center;
  }

  .content-contacts {
    display: flex;
    flex-direction: column-reverse;
    width: 95vw;
  }

  .content-FAQ {
    width: 95vw;
  }

  iframe {
    min-width: 95vw;

  }

  .map-details>p {
    width: 95vw;
  }

  textarea {
    width: 100%;
  }

  .logo {
    user-select: none;
    width: 150px;
    height: 40px;
    top: 0px;
    margin-bottom: 10px;
    margin-inline: 5px;
  }

  .nav-expand {
    animation: navExpand 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }


  .nav-items {
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-around;
    width: 75vw;
    margin-inline: auto;
    align-items: center;
  }


  .text-container {
    justify-content: center;
  }


  .menu-bars {
    display: inline;
  }

  .content-intro {
    width: 95vw;
  }

  .nav-container {
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
    background: #2622ac;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #2622ac);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #2622ac);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .content-comparison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .comparison-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .text-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.422);
    border-radius: 10px;

  }

  .intro.title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 56px;
    /* or 105% */
  }

  .button-38 {
    margin: 1rem;
  }

  .text {
    font-size: 15px;
    line-height: 22px;
    /* or 160% */
  }
}