html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
  background: #23153c;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 50px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2622ac;
  /* color of the scroll thumb */
  border-radius: 5px;
  /* roundness of the scroll thumb */
  /* border: 2px solid color;  creates padding around scroll thumb */
}

.section {
  margin: 0;
  padding: 0;
  scroll-margin-top: 60px;
}

.logo {
  user-select: none;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline: 5px;
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  margin: 8px 0;
  transition: 0.3s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.content-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  min-height: 100vh;
  height: auto;
  margin-inline: auto;
  color: white;
}

.section.comparison {
  display: flex;
  flex-direction: column;
}

.content-comparison {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  min-height: 75vh;
  background: whitesmoke;
  color: rgb(119, 119, 119);
  border-radius: 10px;
}

#content-comparison>h1 {
  margin-inline: auto;
  text-align: center;
}


h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 68px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  margin: 15px;
}

.magicINFO-logo {
  width: 250px;
  aspect-ratio: 16/9;
  margin: 10px;
}

.comparison {
  display: flex;
  min-width: 50vw;
  margin: 50px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

.content-pricing {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 75vh;
  color: rgb(119, 119, 119);
  background-color: rgb(157, 192, 224);
}

.content-pricing>img {
  width: 550px;
  height: 550px;
}



/* CSS */
.button-38 {
  background-color: #2622ac;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #e8eaef;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15rem;
  margin: 2rem;
  align-self: center;
}

.button-38:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  outline: 2px solid white;
}

.button-38:focus {

  outline: 2px solid #2622ac;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}


.text-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
  height: 50%;
}

.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  margin-inline: auto;
}

.nav-container.scrolled {
  background: #2622ac;
  transition: background 200ms;

}

.nav-items {
  display: flex;
  width: 75vw;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

}

a:active {
  text-decoration: underline;
}

.social {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  bottom: 80px;
  right: 20px;
  width: 40px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;

}

.social>img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

tr:nth-child(even) {
  background-color: #bababa;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  text-align: center;
}

td:nth-child(2),
td:nth-child(3) {
  text-align: center;
}

#backtotop {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  box-shadow: 5px 5px 10px black;
  border-radius: 50% 50% 50% 50%;
}

#backtotop:hover {
  cursor: pointer;
}


/* h1 animations */
.show-heading {
  animation: fadeIn 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* text--intro animation */
.fly-in-bottom {
  animation: entryBottom 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes entryBottom {
  from {

    transform: translateY(100px);
  }

  to {

    transform: translateY(0);
  }
}

@keyframes navExpand {
  from {
    height: 60px;
  }

  to {

    height: 70vh;
  }
}

@keyframes entryFromTop {
  from {

    transform: translateY(-100px);
  }

  to {

    transform: translateY(0);
  }
}

@media only screen and (max-width: 740px) {

  .navLinksShow {
    display: inline;
    animation: entryFromTop 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    margin: 30px;
  }

  a {
    display: none;
  }

  .menu-bars {
    display: inline;
  }

  .content-intro {
    width: 95vw;
  }

  .comparison {
    margin: 10px;
  }

  .content-comparison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .comparison-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-pricing>img {
    width: 250px;
    height: 250px;
  }

  .logo {
    position: absolute;
    user-select: none;
    width: 150px;
    height: 40px;
    top: 0px;
    margin-bottom: 10px;
    margin-inline: 5px;
  }

  .nav-expand {
    animation: navExpand 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .nav-container {
    display: flex;
    background: #2622ac;
    width: 95vw;
    margin-inline: auto;
  }

  .nav-items {
    overflow-y: hidden;
    flex-direction: column;
    width: 75vw;
    margin-top: 60px;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
  }


  .text-container {
    justify-content: center;
  }

  .title {
    font-size: 22px;
    line-height: 46px;
    /* or 105% */
  }

  .text {
    font-size: 15px;
    line-height: 22px;
    /* or 160% */
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 740px) {
  a {
    display: none;
  }

  .menu-bars {
    display: inline;
  }

  .content-intro {
    width: 95vw;
    justify-content: flex-end;
  }

  .nav-container {
    display: flex;
    justify-content: space-around;
    width: 95vw;
    background: #2622ac;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .content-comparison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .comparison-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .text-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.422);
    border-radius: 10px;

  }

  .intro.title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 56px;
    /* or 105% */
  }

  .button-38 {
    margin: 1rem;
  }

  .text {
    font-size: 15px;
    line-height: 22px;
    /* or 160% */
  }

}